build/
ParserAspects/
bin/
.classpath
.project
**/.settings/org.eclipse.jdt.core.prefs
.gradle/
logs/
*.swp
*.log
*~
! .gitkeep
.DS_Store
tmp/
PROB_LOGFILE_IS_UNDEFINED
**/.settings/org.eclipse.jdt.ui.prefs
src/main/resources/build.properties
bparser/src/main/resources/revision.properties
config.groovy
*.iml
*.idea
local.*
answerparser/.gitignore
eventbalg/.gitignore
eventbstruct/.gitignore
ltlparser/.gitignore
parserbase/.gitignore
prologlib/.gitignore
theorymapping/.gitignore
unicode/.gitignore
.gitignore
*.prob
.settings
build.xml
bparser/src/test/java/Testing.java
build.properties
bparser-build.properties
bparser/doc
typechecker/doc
translator/doc
.rules-tags
.rules-tags1
